
header {
  background-color: #495E57;
  display: flex;
  align-items: center;
  justify-content: center;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  min-height: 10rem;
  padding: auto auto auto auto;
}

header div {
  display: grid;
  max-width: 40%;
}

header img {
  max-height: 450px;
  max-width: 40%;
}

.banner-info {
  color: white;
  text-wrap: wrap;
  font-weight: 500; /* semi-bold */
}

.banner-button {
  background-color: #F4CE14;
  border-radius: 1rem;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  justify-self: center;
}
