/*.card-recipe {*/
/*  border-style: outset;*/
/*  border-width: 1px;*/
/*  border-radius: 16px;*/
/*  margin: auto 2rem;*/
/*  padding: 0.5rem;*/
/*  max-width: 250px;*/
/*}*/
/**/
/*.card-recipe img {*/
/*  width: 100%;*/
/*  height: 200px;*/
/*}*/
/**/
.card-recipe {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto 20px;
  max-width: 250px;
}

.card-recipe h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.card-recipe img {
  max-width: 100%;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.recipe-desc {
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}

.recipe-price {
  font-weight: bold;
  text-align: right;
}
